<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBCo59doKdDPIkhPPDatQ-goTayObP5wMo</string>
	<key>GCM_SENDER_ID</key>
	<string>1016132990959</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartParking</string>
	<key>PROJECT_ID</key>
	<string>smart-parking-b83eb</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-parking-b83eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1016132990959:ios:bccefcfe11e33552e8681a</string>
</dict>
</plist>